# Base path for persistent data
MYSPOTIFY_DATA=/path/to/myspotify/data

# Domains to access MySpotify / Backend
MYSPOTIFY_DOMAIN=myspotify.domain
MYSPOTIFY_BACKEND_DOMAIN=myspotify-backend.domain

# Spotify app public and secret keys
MYSPOTIFY_APP_PUBLIC=myspotify_app_public
MYSPOTIFY_APP_SECRET=myspotify_app_secret