# Base path for persistent data
MYSPOTIFY_DATA=/path/to/myspotify/data

# Domains to access MySpotify / Backend
MYSPOTIFY_DOMAIN=myspotify.domain
MYSPOTIFY_BACKEND_DOMAIN=myspotify-backend.domain

# Spotify app public and secret keys
MYSPOTIFY_APP_PUBLIC=myspotify_app_public
MYSPOTIFY_APP_SECRET=myspotify_app_secret

# Cloudflare tunnel token for MySpotify
ARCHISTEAMFARM_CLOUDFLARE_TUNNEL_TOKEN=your_cloudflare_tunnel_token_here

# Network config
MYSPOTIFY_NETWORK_SUBNET=x.x.x.x/y
