# Base path for persistent ArchiSteamFarm data
ARCHISTEAMFARM_DATA=/path/to/archisteamfarm/data

# Local domain to access ArchiSteamFarm web UI
ARCHISTEAMFARM_LOCAL_DOMAIN=archisteamfarm.mydomain.local