# Plex local IP
PLEX_LOCAL_IP=x.x.x.x

# Plex claim
PLEX_CLAIM=homepage.com

# Base path for persistent Plex data
HOMEPAGE_DATA=/path/to/plex/data
HOMEPAGE_MOUNTED_DATA=/path/to/plex/mounted/data

# Local domain to access Plex
PLEX_LOCAL_DOMAIN=plex.mydomain.local
