# Base path for persistent data
PIHOLE_DATA=/path/to/pihole/data

# Local domain to access Pi-hole web UI
PIHOLE_LOCAL_DOMAIN=pihole.local

# Cloudflare tunnel token for Pi-hole
PIHOLE_CLOUDFLARE_TUNNEL_TOKEN=your_cloudflare_tunnel_token_here

# Password to access Pi-hole web UI
PIHOLE_WEB_PASSWORD=p4ssw0rd
