# Base path for persistent data
SPEEDTEST_DATA=/path/to/speedtest/data

# Domains to access Speedtest web UI
SPEEDTEST_LOCAL_DOMAIN=speedtest.local
SPEEDTEST_DOMAIN=speedtest.yourdomain.com

# Speedtest app config
SPEEDTEST_APP_KEY=your_app_key_goes_here
SPEEDTEST_APP_NAME=your_app_name_goes_here
SPEEDTEST_TELEGRAM_BOT_TOKEN=your_telegram_bot_token_goes_here