# Base path for persistent data
SPEEDTEST_DATA=/path/to/speedtest/data

# Local domain to access Speedtest web UI
SPEEDTEST_LOCAL_DOMAIN=speedtest.local

# Cloudflare tunnel token for Speedtest
SPEEDTEST_CLOUDFLARE_TUNNEL_TOKEN=your_cloudflare_tunnel_token_here

# MySQL configuration
SPEEDTEST_MYSQL_DB=database
SPEEDTEST_MYSQL_USERNAME=user
SPEEDTEST_MYSQL_PASSWORD=password

# Speedtest key
SPEEDTEST_APP_KEY=your_app_key_goes_here
