# Instance hostname
WATCHTOWER_HOSTNAME=hostname_goes_here

# Telegram bot configuration for notifications
WATCHTOWER_TELEGRAM_BOT_TOKEN=bot_token_goes_here
WATCHTOWER_TELEGRAM_CHAT_ID=-chat_id_goes_here
